[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

lxml = "==4.6.3"
selenium = "==3.5.0"
"urllib3" = "==1.22"
simplejson = "==3.11.1"
"beautifulsoup4" = "==4.6.0"


[dev-packages]

